body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Satisfy', cursive;
  color: #6f0000;
}

h2 {
  color: #900d0d;
  font-family: 'Special Elite', cursive;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #900d0d;
  font-family: 'Special Elite', cursive;
}

hr {
  border: dotted gray 6px;
  border-bottom: none;
  width: 50%;
  margin: 100px auto;
}

.p {
  line-height: 2;
}

.subtitle {
  color: #6f0000;
  font-weight: normal;
}

.top-container {
  background-color: #4b5d67;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #4b5d67;
  color: #6f0000;
  margin-top: 50px;
  padding: 50px 0 20px;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.adapt {
  float: left;
  margin-right: 30px;
  width: 50%;
}

.communication {
  float: right;
  margin-left: 30px;
  width: 50%;
  height: auto;
  position: relative;
  bottom: 110px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.footer-link {
  color: #900d0d;
 font-family: 'Special Elite', cursive;
 margin: 10px 20px;
 text-decoration: none;
}

a:hover {
  color: #662828;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.myButton {
  background-color: #8f0000;
  border-radius: 28px;
  border: 1px solid #ab1919;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Special Elite', cursive;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #662828;
}

.myButton:hover {
  background-color: #a30303;
}

.myButton:active {
  position: relative;
  top: 1px;
}
